name: Docker Test
on: push

jobs:
    test-docker-container:
      runs-on: ubuntu-latest
      container:
        image: 21-alpine3.17
        env:
          NODE_ENV: development
        ports:
          - 80
        # volumes:
        #   - docker_volumes:/volumes
        # options: --cpus 1
      steps:
        - name: Display Node Version
          run: | 
            node -v
            cat /etc/os-release