name: Sixteenth Workflow
on: push

jobs:
    testing-matrix-job:
      continue-on-error: true # парметр говорящий о том, что если один Jobs вернёл не удачу весь workflow вернёт успех
      strategy:
        matrix:
          os: [ubuntu-latest, windows-latest]
          node-version: [12, 14, 18]
        fail-fast: false
        max-parallel: 2
      runs-on: ${{ matrix.os }}
      steps:
        - run: node -v
        - uses: actions/setup-node@v3
          with:
            node-version: ${{ matrix.node-version }}
        - run: node -v